nav {
    background-color: #80ced7 !important;
}
.nav-link {
    font-family: 'Cutive Mono', monospace !important;
    font-size: 24pt;
}

.nav-wrapper {
    font-family: 'Cutive Mono', monospace !important;
    font-size: 24pt;
    margin-left: 20px;
    margin-right: 20px;
}

h2, h3, p, .validate, li, form {
    font-family: 'Didact Gothic', sans-serif !important;
}

.icon-small {
    font-size: 15px !important;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-bottom-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.margin-left-20 {
    margin-left: 20px;
}

.oc-login {
    font-family: 'Cutive Mono', monospace;
    font-size: 24pt;
}

.oc-logo {
    font-family: 'Cutive Mono', monospace;
    font-size: 16pt;
}

.form-outline {
    box-shadow: 0 5px 14px grey;
    padding: 30px !important;
}

.btn-select {
    background-color: #3CB371;
}

.btn-select:hover {
    background-color: #3CB371;
}