{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <h2>Add recipe</h2>
        <form action="{{ url_for('insert_recipe') }}"  method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12 center">
                    <i class="material-icons prefix">edit</i>
                    <input id="recipe_name" name="recipe_name" type="text" class="validate">
                    <label for="icon_edit">Recipe title</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">access_alarm</i>
                    <input id="prep_time" name="prep_time" type="text" class="validate">
                    <label for="icon_access_alarm">Prep time</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">access_time</i>
                    <input id="cook_time" name="cook_time" type="text" class="validate">
                    <label for="icon_cook_time">Cooking time</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">people_outline</i>
                    <input id="serves" name="serves" type="text" class="validate">
                    <label for="icon_serves">Serves</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">restaurant_menu</i>
                    <textarea id="ingredients" name="ingredients" class="validate materialize-textarea"></textarea>
                    <label for="textarea1">Ingredients</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">restaurant</i>
                    <textarea id="method" name="method" class="validate materialize-textarea"></textarea>
                    <label for="textarea1">Method</label>
                </div>
                <button class="btn orange lighten-1" type="submit" name="action">
                    Submit recipe
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}