{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <h3 class="margin-top-bottom-30">Edit Recipe</h3>
            <form action="{{ url_for('update_recipe', recipe_id=item._id) }}" class="form-outline col s12" method="POST">
                    <div class="input-field">
                        <i class="material-icons prefix">edit</i>
                        <input id="recipe_name" name="recipe_name" type="text" class="validate" value="{{ item.recipe_name }}" required>
                        <label for="icon_edit">Recipe title</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">access_alarm</i>
                        <input id="prep_time" name="prep_time" type="text" class="validate" value="{{ item.prep_time}}" required>
                        <label for="icon_access_alarm">Prep time</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">access_time</i>
                        <input id="cook_time" name="cook_time" type="text" class="validate" value="{{ item.cook_time }}" required>
                        <label for="icon_cook_time">Cooking time</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">people_outline</i>
                        <input id="serves" name="serves" type="text" class="validate" value="{{ item.serves }}" required>
                        <label for="icon_cooking_time">Serves</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">restaurant_menu</i>
                        <textarea id="ingredients" name="ingredients" class="validate materialize-textarea" value="{{ item.ingredients}}" required></textarea>
                        <label for="textarea1">Ingredients</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">restaurant</i>
                         <textarea id="method" name="method" class="validate materialize-textarea" value="{{ item.method }}" required></textarea>
                        <label for="textarea1">Method</label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">priority_high</i>
                        <input type="checkbox" id="allergens" name="allergens" class="validate materialize-textarea" value="{{ item.allergens}}" required>
                        <label for="textarea1">Allergens?</label>
                    </div>
                    <button class="btn orange lighten-1" type="submit" name="action">
                        Submit recipe
                    </button>
            </form>
    </div>
</div>

{% endblock %}