{% extends 'base.html' %}
{% block content %}

<div class="container">

    {% for item in recipe %}
        <h2>{{item.recipe_name}}</h2>
        <p>prep: {{item.prep_time}}</p>
        <p>cooking time: {{item.cook_time}}</p>
        <p>serves: {{item.serves}}

        <div class="row">
            <a href="{{url_for('delete_recipe', recipe_id=item._id)}}" class="waves-effect waves-light btn">Delete</a>
            <a href="{{url_for('edit_recipe', recipe_id=item._id)}}" class="waves-effect waves-light btn">Edit</a>
        </div>

    {% endfor %}
    
</div>

{% endblock %}